*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}


html{
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: radial-gradient(66.48% 66.48% at 50% 6.57%, #3BDCFF 0%, #2190AA 100%);

}

header{
    position: relative;
    left: 0;
    height: 100vh;
    width: 10px;
    background-color: #176277;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:hover{
    position: relative;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #176277;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}


header .nav-item-box{
    position: absolute;
    filter: brightness(0) invert(1);
    text-align: center;

}

.liquid{
   position: absolute;
   left: calc(50% - 360px/2 - 100px);
   top: calc(50% - 398px/2);
}

.liquid h1{
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 146px;
    position: absolute;
}

.liquid h1:nth-child(1){
    color: #EAFDFF;
    text-shadow: -2px 2px 0px #4F9BAF,
    -4px 4px 0px #4F9BAF,
    -6px 6px 0px #4F9BAF,
    -8px 8px 0px #4F9BAF,
    -18px 18px 20px rgba(0 ,0 ,0, 0.5 ),
    -18px 18px 50px rgb(0, 0, 0);
}

.liquid h1:nth-child(2){
    color: #3CDCFF;
    animation: animate 3s ease-in-out infinite;
}

.liquid h1:nth-child(3){
    color: #3CDCFF;
    opacity: 0.5;
    animation: animate 6s ease-in-out infinite;
}

.liquid h1:nth-child(4){
    color: #3CDCFF;
    opacity: 0.8;
    animation: animate 4s ease-in-out infinite;
}


@keyframes animate{
    0%,100%{
        clip-path: polygon(0 44%, 11% 50%, 26% 55%, 41% 58%, 56% 56%, 73% 50%, 89% 48%, 100% 51%, 100% 100%, 0% 99%);
    }
    50%{
        clip-path: polygon(0 53%, 13% 43%, 27% 41%, 43% 48%, 60% 54%, 75% 57%, 89% 57%, 100% 51%, 100% 100%, 0% 99%);
    }
}

.waterbar{
    border-radius: 50px;
    position: absolute;
    left: calc(50% - 600px);
    top: calc(50% - 734px/2);
    background-color: transparent;
    width: 130px;
    height: 734px;
    z-index: 3;
    overflow: hidden;
}

.waterbar:after{
    content: "";
    height: 6px;
    position: absolute;
    bottom: 147px;
    width: 20px;
    background: rgba(234, 253, 255, 0.85);
}

.level{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 0;
    background-color: #3CDCFF;
    filter: brightness(1);
    transition:3s ease;

}
.outline{
    border-radius: 50px;
    position: absolute;
    left: calc(50% - 600px);
    top: calc(50% - 734px/2);
    background-color: transparent;
    width: 130px;
    height: 734px;
    opacity: 1;
    outline: 6px solid rgba(234, 253, 255, 0.85);
}



#actionbox{
    position: absolute;
    width: 641px;
    height: 291.28px;
    left: calc(100% - 45rem);
    top: 262px;
    text-align: center;
}

#actionbox p{
    color:white;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
}

#actionbox span{
    color: rgba(59, 220, 255, 1);
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

form button{
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
    background: transparent;
	border-radius: 50%;
    border: 3px solid white;
    margin: 20px 10px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    color: white;
    line-height: 40px;
    box-shadow: 0px 14px 0px 3px rgba(0, 0, 0, 0.25);
}

form button:active {
    background-color: lightblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#button-box{
    position: relative;
}

#b-container img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubble{
    z-index: -2;
}

#b-container{
    width: 100vw;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: -2;
    bottom: -50px;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(-30vh);
        opacity: 1;
    }
    70%{
        transform: translateY(-50vh);
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

#b-container img:nth-child(1){
    animation-delay: 2s;
}
#b-container img:nth-child(2){
    animation-delay: 1s;
}
#b-container img:nth-child(3){
    animation-delay: 4s;
}
#b-container img:nth-child(4){
    animation-delay: 1.5s;
}
#b-container img:nth-child(5){
    animation-delay: 3s;
}
#b-container img:nth-child(6){
    animation-delay: 0.5s;
}
