@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #121212;
    --gold: #DEB566;
}

html{
    font-family: 'Lexend', sans-serif;
    color: white;
}

body{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100vw;
    height: 100%;
    gap: 50px;
}

main > h1{
    font-size: 50px;
    font-weight: 400;
}

#buttonsContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:30px;
}

button:hover{
    cursor: pointer;
}

button{
    outline: none;
    stroke: none;
    border: none;
    border-radius: 20px;
    color: var(--gold);
    font-family: 'Lexend',sans-serif;
    font-weight: semibold;
    background-color: #121212;
    box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.67), 2px 2px 5px 0px rgba(0, 0, 0, 0.773);
}

button:active{
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.67),inset 2px 2px 5px 0px rgba(0, 0, 0, 0.773);
}

#delete, #stopButton{
    width: 70px;
    height: 70px;
}

#download{
    width: 100px;
    height: 70px;
}

#startButton{
    width: 250px;
    height: 100px;
    font-size: 20px;
}

#output{
    border: 1.5px solid rgba(255, 255, 255, 0.67);
    box-shadow: -10px 10px 30px 5px rgb(0, 0, 0), 10px -10px 30px 5px rgba(87, 64, 20, 0.419);
    width: 80%;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;
}

#output::-webkit-scrollbar{
    width:18px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.511);
}

#output::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.511);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    #buttonsContainer{
        justify-content: center;
        flex-wrap: wrap;
    }

    #buttonsContainer #delete{
        order: 3;
    }

    #buttonsContainer #startButton{
        order: 1;
    }

    #buttonsContainer #stopButton{
        order: 2;
    }
}